extends ./layout.pug

block content
  h1 Welcome to this demo page

  p To test oauth flow, you need to do this call
    a(href='http://localhost:3000/auth?client_id=myid-123&redirect_uri=https://www.duckduckgo.com&state=justarandomstatevalue&response_type=code') Link
